@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;700&display=swap");
:root {
  --purple-50: #f5f2ff;
  --purple-100: #ede6ff;
  --purple-200: #ddd1ff;
  --purple-300: #c4acff;
  --purple-400: #a87dff;
  --purple-500: #8f49ff;
  --purple-600: #8324ff;
  --purple-700: #7512ef;
  --purple-800: #5e0ec0;
  --purple-900: #520ea4;
  --purple-950: #31066f;
  --roxo-dark: #8257e6;
  --branco: #f0f0f0;
  --dark: #232c35;
  --fonte-principal: "Poppins";
  --fonte-console: "Inconsolata";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--branco);
  transform: background 0.2s linear;
  transition: 1s;
  display: flex;
  flex-direction: column;
}

body.dark{
  background: var(--dark);
  color: var(--branco);
}
.dark .descricao-texto-destaque{
  color: var(--branco);
  transition: 1s;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quem-sou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.imagem-perfil {
  width: 167px;
  border-radius: 90px;
}

.principal-nome{
  text-align: center;
}

.principal-titulo {
  font-family: var(--fonte-principal);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1em;
}

.principal-profissao {
  font-family: var(--fonte-principal);
  font-weight: 300;
  font-size: 12px;
}

.sociais-lista {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}
@keyframes popup {
  0% {transform: scale(1); }
  50% {transform: scale(1.1);}
  100% {transform: scale(1); }
}

.sociais-item-img:hover{
  animation: popup 1s;
  animation-iteration-count: 2;
}

.hello {
  font-family: var(--fonte-console);
  font-size: 14px;
  margin-left: 4px;
}

.descricao {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 80vw;
  font-family: var(--fonte-principal);
  font-weight: 300;
}

.descricao-texto-destaque{
  color: var(--purple-800);
}

.rodape {
  background-color: var(--dark);
  color: #dbdbdb;
  text-align: center;
  font-family: var(--fonte-console);
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em 0;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.26);
}



.dark .rodape{
  color: var(--dark);
  background-color: var(--branco);
  transition: 1s;
}

.dark .rodape-mapa-item a{
  color: var(--dark);
}

.forca-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.rodape-img-jedi {
  width: 24px;
}

.fa-jedi{
  color: var(--branco);
}

.dark .fa-jedi{
  color: var(--dark);
}

.rodape-mapa-lista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.rodape-titulo{
  margin-top: 1em;
}

.rodape-mapa-lista {
  list-style: none;
}

.rodape-mapa-item a{
  text-decoration: none;
  color: var(--branco);
}

.rodape-mapa-item a:hover{
  color: var(--purple-400);
}


@media (min-width: 900px){
  .principal-titulo {
    margin-top: 1.5em;
  }
}

@media (min-width: 1280px){
    .descricao{
        width: 1000px;
    }
    body{
      margin: 0 auto;
      text-align: center;
    }
   
}

@media (max-height: 667px){
    .rodape{
        position: static;
        margin-top: 3em;
    }
}


