.header {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
  margin-right: 1em;
  width: 95vw;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .rotulo .ball {
  transform: translateX(24px);
}

.rotulo {
  background-color: var(--purple-900);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  position: relative;
  height: 16px;
  width: 40px;
  transform: scale(1.1);
}
.rotulo .ball {
  background-color: var(--branco);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.fa-moon,
.fas.fa-sun {
  color: var(--branco);
}
.fa-brands .fa-linkedin {
  width: 50px;
}

@media (min-width: 1400px) {
  .header {
    width: 80vw;
  }
}

@media (min-width: 2600px) {
    .header {
      width: 70vw;
    }
  }
